@font-face{font-family:'Montserrat';font-weight:200;src:url("../../font/Montserrat-UltraLight.otf")}
@font-face{font-family:'Montserrat';font-weight:700;src:url("../../font/Montserrat-Bold.otf")}
@font-face{font-family:'Montserrat';font-weight:400;src:url("../../font/Montserrat-Regular.otf")}
@font-face{font-family:'Montserrat';font-weight:300;src:url("../../font/Montserrat-Light.otf")}
html, body{font-family:"Montserrat","Arial","Microsoft YaHei","Open Sans",sans-serif,"STXihei","Myriad Set Pro","Helvetica Neue","Helvetica","Arial","lato","PingFang SC","STHeitiSC-Light";}
.subtitle,.description{font-family:"Arial","Microsoft YaHei";}

