.tem13-pro-detail .tem30-side .list-group{border-color:#eee;}
.tem13-pro-detail .flexBoxWrap .headline{border:none!important;}
.tem13-pro-detail .tem30-side{margin-bottom: 30px;}
.tem13-pro-detail .tem26-side{padding-bottom: 20px;}