.tem31-side{padding-bottom: 20px;}
.tem31-side .serchinput{width: 100%;background: rgba(0,0,0,.03);padding: 5%;}
.tem31-side form{width: 100%;border:1px solid #ccc;overflow: hidden;}
.tem31-side .form-control{border:none;box-shadow: none;flex-basis: 0;flex-grow: 1;height: auto;padding: 10px;}
.tem31-side .btn{border-radius: 0;}