.tem09-side-related-products .main{border:1px solid;border-color: #ddd;margin-bottom:15px;padding: 0 20px;}
.tem09-side-related-products .main .headline{font-size:16px;color:#242424;height:50px;line-height:50px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;border-bottom:1px solid;border-color:inherit;margin:0 0 15px 0;font-weight: 600;}
.tem09-side-related-products .main .thumbnail{border-radius:0;border:0;border-bottom:2px solid #eee;padding:10px 0;margin:0;background:none;}
.tem09-side-related-products .main .item:first-child .thumbnail{padding:0 0 10px 0;}
.tem09-side-related-products .main .item:last-child .thumbnail{border:0;}
.tem09-side-related-products .main .thumbnail .image{width:80px;height:80px;float:left;overflow: hidden;}
.tem09-side-related-products .main .thumbnail .image img{width:100%;height:100%;}
.tem09-side-related-products .text{color:inherit;padding: 3% 0;}
.tem09-side-related-products .text .title{color:inherit;font-size: 14px;}
.tem09-side-related-products .text .description{color:inherit;opacity: .8;display: none;}
.tem09-side-related-products._display .text{display: none;}
.tem09-side-related-products .prev{left:0;transform: translateY(calc(-50% - 15px)) scale(-1,1);-moz-transform: translateY(calc(-50% - 15px)) scale(-1,1);-webkit-transform: translateY(calc(-50% - 15px)) scale(-1,1);}
.tem09-side-related-products .prev,
.tem09-side-related-products .next{position: absolute;top: 50%;z-index: 2;font-size: 2.75rem;opacity: .5;cursor: pointer;transform: translateY(calc(-50% - 15px));-moz-transform: translateY(calc(-50% - 15px));-webkit-transform: translateY(calc(-50% - 15px));}
.tem09-side-related-products .prev{left:0;transform: translateY(calc(-50% - 15px)) scale(-1,1);}
.tem09-side-related-products .next{right:0;}
.tem09-side-related-products a{border:inherit;}
.tem09-side-related-products .images{border: 1px solid;border-color:#ddd;overflow: hidden;}
.tem09-side-related-products .images img{transition: .4s;-moz-transition: .4s;-webkit-transition: .4s;width: 100%;}
.tem09-side-related-products .item:hover .images img{transform: scale(1.1);-moz-transform: scale(1.1);-webkit-transform: scale(1.1);}
.tem09-side-related-products .swiper-container{padding-bottom: 30px;}
.tem09-side-related-products .swiper-wrapper{display: flex;display: -webkit-flex;align-items: center;color:#333;}
.tem09-side-related-products .swiper-container,
.tem09-side-related-products .swiper-wrapper,
.tem09-side-related-products .swiper-slide,
.tem09-side-related-products .swiper-slide .item,
.tem09-side-related-products .swiper-slide a,
.tem09-side-related-products .swiper-slide .text{color:inherit;}
@media(max-width:640px){
    .tem09-side-related-products .main .item{width:50%;}
}
@media(max-width:360px){
    .tem09-side-related-products .main .item{width:100%;}
}
